:global(.validator-container) {
  position: relative;
  width: 420px;
  margin: 0 auto;
}
:global(.cards-icons-wrapper) {
  display: flex;
  justify-content: space-between;
  width: 420px;
}
:global(.card-icon-container) {
  width: 40px;
  height: 25px;
  margin: 0 5px 5px 0;
  background-size: cover;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
}
:global(.card-icon-container img) {
  width: 100%;
}
:global(.card-icon-container:last-of-type) {
  margin-right: 0;
}
:global(.symbols-wrapper) {
  display: flex;
  position: absolute;
  left: 10px;
  bottom: -8px;
}
:global(.symbol-ok) {
  color: green;
}
:global(.symbol-dismiss) {
  color: red;
}
:global(.validator_form) {
  display: flex;
  width: 420px;
  justify-content: space-between;
}
:global(.validator_input) {
  box-sizing: border-box;
  width: 285px;
  height: 35px;
  font-size: 14px;
  padding: 0 25px;
}
:global(.validator_btn) {
  box-sizing: border-box;
  width: 125px;
  height: 35px;
  border: 0px;
  border-radius: 4px;
  font-size: 14px;
  color: #ffffff;
  background-color: #4abc00;
  cursor: pointer;
}
:global(.validator_btn p) {
  margin: 0;
}
:global(.disable) {
  opacity: 0.2;
}
:global(.hide) {
  display: none;
}